// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

$fa-font-path: "/fonts";

@import 'resources/sass/_fontawesome_custom.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/startbootstrap-sb-admin-2/scss/sb-admin-2.scss';

.nav-item {
    .router-link-exact-active {
        &.nav-link {
            font-weight: bold;
            color: #fff;
        }
        &.collapse-item {
            font-weight: bold;
        }
    }
}
